body {
    background-size: cover;
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_690855708_327837.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.jumbotron {
    background-color: rgb(90, 87, 87) !important;
    color: rgb(52, 148, 148);
}

.engineer, .intern, .manager {
    opacity: .8;
    margin-left: 2px;
    margin-right: 2px;
}

.engineer {
    background-color: green;
}

.intern {
    background-color: hotpink;
}

.manager {
    background-color: red;
}